{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Användaröversikt</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Användarnamn</th>
            <th>E-post</th>
            <th>Antal ordlistor</th>
            
            
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.wordlist_count }}</td>
          
          
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
